/* Global Styles */
:root {
  /* --primary-color: #17a2b8; */
  --primary-color: #0078f2;
  --dark-color: #121212;
  --light-gray: #2a2a2a;
  --light-color: #f5f5f5;
  --light-basic: #cccccc;
  --danger-color: #980000;
  --success-color: #28a745;

  --bg-trans: rgba(244, 244, 244, 0.1);
  --bg-trans-hov: rgba(244, 244, 244, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--dark-color);
  color: var(--light-color);
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  min-height: 74vh;
  margin: auto;
  overflow: hidden;
  padding: 1rem 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary.large {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}
h2 {
  text-align: center;
  margin-top: 2rem;
}

hr {
  margin: 2rem 0;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-6 {
  margin: 6rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 4px;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem auto;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  z-index: 3;

  position: fixed;
  top: 8rem;
  left: calc(50% - 12rem);
  width: 24rem;
  text-align: center;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-lgray {
  background: var(--light-gray);
  color: var(--light-basic);
}

.btn.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.container > .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .form-group {
  margin: 0.8rem auto;
  max-width: 400px;
  min-width: 300px;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.my-1.login-redirect {
  margin: 1rem 0;
}

/* register */
.login-redirect a {
  font-weight: 600;
  color: var(--primary-color);

  transition: color 0.2s ease-in;
}
.login-redirect a:hover {
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar .home-link {
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.navbar .cart-toggle {
  position: relative;
}
.navbar .cart-toggle > .cart-items-no {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  color: #fff;
  font-size: 0.6rem;

  padding: 0 0.3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  p.lead {
    font-size: 1rem;
  }

  /* Navbar */

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar > ul > li > a {
    display: block;
    padding: 8px 12px;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  /* .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  } */

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}

.form .invalid-feedback {
  color: #ff606e;
  display: block;
  text-align: start;
  font-size: 1rem;
}

.invalid-feedback::before {
  content: "*";
}

nav li {
  display: flex;
}

li > img {
  display: flex;
  align-self: center;
  margin: 0 0.5rem;
}

@media (max-width: 500px) {
  .dash-profile {
    display: block;
  }
  .dash-profile > img {
    object-position: left;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 360px) {
  .navbar {
    padding: 0.7rem 0.5rem;
    font-size: 0.8rem;
  }
  .navbar .home-link {
    font-size: 1rem;
  }
}
